*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
display:flex;
background:#0f172a;
color:white;
}

.sidebar{
width:250px;
height:100vh;
background:#1e293b;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar button{
width:100%;
padding:15px;
margin-top:10px;
border:none;
background:#334155;
color:white;
border-radius:10px;
cursor:pointer;
}

.main{
flex:1;
padding:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.4);
}

.chart-container{
margin-top:30px;
background:#1e293b;
padding:20px;
border-radius:15px;
}

.buy-btn{
margin-top:20px;
padding:15px 25px;
border:none;
background:#3b82f6;
color:white;
border-radius:10px;
cursor:pointer;
}